body {
    background-color: #fff7e2;
    font-family: 'Roboto Condensed', sans-serif;
}
header {
    background-color: #103900;
}
header > h1 {
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    color: white;
    background-color: #103900;
    position: static;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding-right: 10px;
}

header > h1 > img {
    color: white;
    float: left;
}

.dropdown-content > li {
    display: inline;
}
.footer{
    align-content: bottom;
    text-align: center;
}

